.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}.dev {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #2d3436;
  text-align: center;
  margin-top: 20px;
}

.dev a {
  color: #0984e3;
  text-decoration: none;
  font-weight: bold;
}

.dev a:hover {
  text-decoration: underline;
  color: #6c5ce7;
}

.heart {
  color: #e74c3c; /* Red color for the heart */
  font-size: 1.2rem;
  vertical-align: middle;
  margin: 0 5px;
  animation: pulse 1.5s infinite;
}

/* Heart animation */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
